/* 
*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
    

    
    

}

body{

    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}

.container {

    width: 100%;
    min-height: 100vh;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    

}

.toDoApp{

    width:100%;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    max-width: 550px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    

}

.toDoApp h2{

    background: transparent;
    
}
.toDoApp h2 img{

    background: transparent;
    
}
input{

    padding: 5px;
    flex: 1;
    border: 4px;
    
    border-color: black;
    outline: none;
    background: transparent;
    font-weight: 14px ;
    border-style: inset;
  
}

button{

    margin-left: 100%;
    border-radius: 40px;
}

 #taskContainer{

    width:100%;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    max-width: 550px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    margin-top: 20%;

} 

ul li{

    list-style: none;
    padding-left: 10%;
    cursor:pointer;
   

    
   
} */

/* ul li.checked {

    color:#ff0b0bdf;
    text-decoration: line-through;


} */
